// LMP Palette de couleur initiale
$LMPOrnage:#f37d35;
$LMPBlack:#484848;
$LMPWhite:#f0efe4;
$LMPRealWhite:#ffffff;
$LMPBlackOpaque:rgba(72, 72, 72, .8);

//Cards
// dimenssions  16 px ->1rem
$LMPCardWidth:270px;
$LMPCardHeight:410px;
$LMPCardTitleHeight:30px;
$LMPCardImgHeight:250px;
$LMPCardLowerContentHeight:90px;
//Palette de couleur
