// LMP Palette de couleur initiale
$LMPOrnage:#f37d35;
$LMPBlack:#484848;
$LMPWhite:#f0efe4;


//Cards
// dimenssions  16 px ->1rem
$LMPCardWidth:16.875rem;
$LMPCardHeight:25.625rem;
$LMPCardTitleHeight:1.875rem;
$LMPCardImgHeight:15.625rem;
$LMPCardLowerContentHeight:5.625rem;
//Palette de couleur
