.full-width {} .footer {
    background-color: $LMPBlack;
    padding: 2rem 4rem;
    text-align: center;

}

.logo-bottom{
  width: 80%;
  margin-top: -60px;
}

.logo-bottom-desktop{
  width: 30%;
  margin-top: -20px;
}
.logo-bottom-desktop:hover{
  cursor:pointer;
}
