.full-width {} .footer {
    background-color: $LMPBlack;
    padding: 2rem 4rem;
    text-align: center;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    max-height:40px;
    min-height:30px;
    //border: 1px dashed white;
    width: 100%;
}

.logo-bottom{
  width: 100%;
  margin-top: -15px;
  max-height: 30px;

}

.logo-bottom-desktop{
  width: 30%;
  margin-top: -20px;
}
.logo-bottom-desktop:hover{
  cursor:pointer;
}
