.full-width {} .footer {
    background-color: $LMPBlack;
    padding: 2rem 4rem;
    text-align: center;

}

.logo-bottom{
  width: 30%;
  margin-top: -20px;

}
.logo-bottom:hover{
  cursor:pointer;
}
