.navcontainer {
  overflow: hidden;
  height: 100%;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 44px;
    background-color: $LMPWhite;
    .navigation-left {
        display: flex;
        flex-direction: column;
        .menubtn {
          list-style-type:none;
            background-color: $LMPOrnage;
            position: absolute;
            top: 0px;
            left: -22px;
            width: 45px;
            height: 44px;
            justify-content: center;
            align-items: center;
            display: flex;
        }
    }
    .navigation-right {
        display: flex;
        flex-direction: column;
        .menubtn {
          list-style-type:none;
            justify-content: center;
            align-items: center;
            display: flex;
            background-color: $LMPOrnage;
            position: inherit;
            width: 45px;
            height: 44px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .navigation-title {
        p {
            padding-top: 8px;
            color: $LMPOrnage;
        }
    }
    .fa-lg {
        color: white;
    }
}
